<md-toolbar color="primary">
  <button md-icon-button [md-menu-trigger-for]="menu">
    <md-icon>more_vert</md-icon>
  </button>

  <md-menu #menu="mdMenu">
    <button md-menu-item [routerLink]="['/about']">About</button>

    <div >
      <button md-menu-item [routerLink]="['/login']">Login</button>
    </div>
  </md-menu>

  <span>Tecnual</span>

  <div class="fill"></div>

  <div>
    <button
      md-mini-fab
      mdTooltip="Login with Facebook, Google, Twitter or GitHub"
      mdTooltipPosition="below"
      [routerLink]="['/login']"
    >
      <md-icon>person</md-icon>
    </button>
  </div>
</md-toolbar>
