<!-- main app container -->

<md-toolbar color="primary">
  <div class="header-toolbar">
  Tecnual
</div>
<button class="sidenav-toogle" md-mini-fab (click)="sidenav.toggle()" color="primary">
    <md-icon>more_vert</md-icon>
</button>
</md-toolbar>
<md-sidenav-container>


  <md-sidenav #sidenav mode="over" opened="false">

    <button class="sidenav-button" md-button>boton1</button>
    <button class="sidenav-button" md-button>boton2</button>
    <button class="sidenav-button" md-button>boton3</button>
    <button class="sidenav-button" md-button>boton4</button>
    <button class="sidenav-button" md-button>boton5</button>
  </md-sidenav>
  <router-outlet></router-outlet>

</md-sidenav-container>





<app-footer></app-footer>
